*.json
*.db-shm
*.db
*.db-wal
*.dll
*.pdb
*.targets
*.config
NorthwindTraders/.vs/NorthwindTraders/v17/.suo
*.xml
*.tt
*.edmx
*.cache
*.ssdl
*.exe
*.md
*.nupkg
*.rsp
NorthwindTraders/.vs/NorthwindTraders/copilot-chat/df4cbf23/sessions/8822ef68-3ed3-4f5d-ac7b-2e41ba91d9fc
NorthwindTraders/.vs/NorthwindTraders/copilot-chat/df4cbf23/sessions/c848ee08-4361-4184-8112-405062e46740
NorthwindTraders/.vs/NorthwindTraders/FileContentIndex/b697e2d4-61dd-41f7-aa8f-212d10de2508.vsidx
NorthwindTraders/obj/Debug/NorthwindTraders.csproj.FileListAbsolute.txt
NorthwindTraders/obj/Debug/NorthwindTraders.csproj.FileListAbsolute.txt
*.vsidx
